{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
    <h1 class="{{.title}} {{.vertical_space}}">{{ $content.title }}</h1>
    <div class = "flex justify-center h-full w-full" >
      {{- partial "poppy-elements/image" (dict "resource_page" $page "name" $content.image "link" $content.link "class" "w-4/5") -}}
    </div>
    <div class="prose {{.vertical_space}} {{.body}} text-center article-container max-w-screen-md xl:max-w-screen-lg mx-auto overflow-auto">
        {{- $page.Content | markdownify -}}
    </div>
{{- end -}}
