{{/* USE THIS TO BUNDLE YOUR JS files if you have any */}}

{{ $script := resources.Get "js/script.js" }} {# Assuming a main script.js exists, if not, you can remove this line #}
{{ $js_bundle := (slice $script) }}

{{/* ADD YOUR poppy-banner.js HERE */}}
{{ $js_bundle = $js_bundle | append (resources.Get "js/poppy-banner.js") }}

{{ $js_bundle = $js_bundle | resources.Concat "js/poppygo-one.js" | minify | fingerprint "md5" }}
<script src="{{ $js_bundle.RelPermalink }}" integrity="{{ $js_bundle.Data.Integrity }}" defer></script> {# Added defer attribute for better performance #}

{{- if not .Site.IsServer -}}
    <script async defer data-website-id="{{ .Site.Params.umami.siteID }}" src="{{ .Site.Params.umami.trackerScript }}"></script>
{{- end -}}




<!-- {{/* USE THIS TO BUNDLE YOUR JS files if you have any */}}

{{/* {{ $script := resources.Get "js/script.js" }}
{{ $js_bundle := (slice  $script) }}
{{ $js_bundle = $js_bundle  | resources.Concat "js/poppygo-one.js" | minify | fingerprint "md5" }}
<script src="{{ $js_bundle.RelPermalink }}"></script> */}}

{{- if not .Site.IsServer -}}
    <script async defer data-website-id="{{ .Site.Params.umami.siteID }}" src="{{ .Site.Params.umami.trackerScript }}"></script>
{{- end -}}
 -->
