{{/* Bundles only poppy-banner.js and any other specifically included JS files */}}

{{ $js_files := slice }} {{/* Initialize an empty slice */}}

{{/* --- IMPORTANT: Only include resources that you are sure exist --- */}}

{{/* Add your poppy-banner.js */}}
{{- with resources.Get "js/poppy-banner.js" -}}
    {{ $js_files = $js_files | append . }}
{{- else -}}
    {{ warnf "poppy-banner.js not found in assets/js/ - JS animation will not work." }}
{{- end -}}

{{/* --- End of explicitly added files --- */}}


{{/* Only attempt to bundle if there are files in the slice */}}
{{- if gt (len $js_files) 0 -}}
    {{ $bundle := $js_files | js.Build (dict "targetPath" "js/poppygo-one.js") | minify | fingerprint "md5" }}
    <script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" defer></script>
{{- else -}}
    {{ warnf "No JavaScript files found to bundle for poppygo-one.js. Check your bundlejs.html." }}
{{- end -}}

{{- if not .Site.IsServer -}}
    <script async defer data-website-id="{{ .Site.Params.umami.siteID }}" src="{{ .Site.Params.umami.trackerScript }}"></script>
{{- end -}}



<!-- {{/* USE THIS TO BUNDLE YOUR JS files if you have any */}}

{{/* {{ $script := resources.Get "js/script.js" }}
{{ $js_bundle := (slice  $script) }}
{{ $js_bundle = $js_bundle  | resources.Concat "js/poppygo-one.js" | minify | fingerprint "md5" }}
<script src="{{ $js_bundle.RelPermalink }}"></script> */}}

{{- if not .Site.IsServer -}}
    <script async defer data-website-id="{{ .Site.Params.umami.siteID }}" src="{{ .Site.Params.umami.trackerScript }}"></script>
{{- end -}}
 -->
