{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
<div class="{{.vertical_space}} ">
  <h3 class=" {{.title }}">{{ $content.title }}</h3>
  <p class=" {{.subtitle}}">{{ $content.subtitle }}</p>
    <div class="grid grid-cols-10 {{ .gridgap }} grid-flow-row-dense ">
      {{- range $index, $value := $content.items -}}
        {{- $switchImg := "" -}}
        {{- $switchBody := "" -}}

        {{-  if not (modBool $index 2) -}}
          {{ $switchBody = "col-start-1 md:col-start-5 col-span-10 md:col-span-6 px-4 md:pl-16 lg:pl-24 xl:pl-32" }} {{/* This line is the critical one */}}
          {{ $switchImg = "col-start-1 md:col-start-1 lg:col-start-2 col-span-10 md:col-span-5 lg:col-span-4" -}}
        {{- else -}}
          {{ $switchBody = "col-start-1 md:col-start-1 col-span-10 md:col-span-6 px-4 md:pl-6 md:pr-12 lg:pr-28" -}}
          {{ $switchImg = "col-start-1 md:col-start-6 lg:col-start-6 col-span-10 md:col-span-5 lg:col-span-4" -}}
        {{- end -}}

        {{ $row := printf "md:row-start-%s" (string (add $index 1)) -}}

        {{/* --- Start: Video/Image Handling Block --- */}}
        {{- if $value.video -}}
          {{/* Render Video */}}
          <div class="z-10 mt-10 my-auto {{ $content.item_bg_color }} {{$row}} {{$design.rounded}} {{$design.shadow}} {{$switchImg}} {{$design.border}}">
            {{- $videoSource := "" -}}
            {{- with $content.fg_resource_page.Resources.GetMatch (printf "%s*" $value.video) -}}
                {{- $videoSource = .RelPermalink -}}
            {{- end -}}
            {{- if $videoSource -}}
                <video autoplay loop muted playsinline class="w-full h-auto object-cover rounded-md">
                    <source src="{{ $videoSource }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {{- else -}}
                {{/* Fallback if video not found - can display image if it exists */}}
                {{- with $value.image -}}
                    {{- $class := printf "%s %s w-full h-auto" $design.rounded $design.shadow -}}
                    {{- partial "poppy-elements/image-how-do-we-do-it" (dict "resource_page" $content.fg_resource_page "name" . "class" $class ) -}}
                {{- end -}}
            {{-
