{{- $resource_page := .resource_page -}}
{{- $name := .name -}}
{{- $class := .class -}}
{{- $alt := .alt -}}
{{- $style := .style | default "" -}}

{{- $image := "" -}}

{{- with $resource_page -}}
    {{- $image = .Resources.Get $name -}}
    {{- if not $image -}}
        {{- /* Fallback to site-wide resources if not found on page */ -}}
        {{- $image = $.Site.Resources.Get $name -}}
    {{- end -}}
{{- end -}}

{{- if $image -}}
    <img src="{{ $image.RelPermalink }}"
        alt="{{ $alt }}"
        class="{{ $class }}"
        style="{{ $style | safeCSS }}"
    >
{{- else -}}
    {{- errorf "Image '%s' not found." $name -}}
{{- end -}}
