{{ $page := .page }}
{{ $summary := .summary }}
{{ $site_type := site.Params.site_type | default "Organisation" }}

{{- if $page.IsHome -}}
  {{ partial "jsonld/website.html" $page }}
  {{ partial "jsonld/business.html" $page }}
{{- else -}}
  {{ if or (eq $page.Type "documentation") (eq $page.Type "guide") (eq $page.Type "release") (eq $page.Type "page") (eq $page.Type "theme") (eq $page.Type "themes") }}
    {{ partial "jsonld/Article.html" (dict "page" $page "summary" $summary ) }}
  {{ end }}

{{- end }}
