{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
  <div class="{{.vertical_space}} grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    <div class="p-5 lg:px-20 flex flex-col justify-center md:rounded-r-none col-span-1 md:col-span-2 {{$design.border}} {{$design.rounded}} {{$design.shadow}} {{$content.item_bg_color}}">
      <div class = {{$design.itemtitle}}>{{$content.title}}</div>
      <div class = {{$design.itemsubtitle}}>{{$content.subtitle}}</div>
      <div class=" prose w-full {{$design.rounded}} {{$design.itembody}} ">
          {{$content.bodytext | markdownify }}
      </div>
      <div class="{{$design.itembody}} justify-end">
          {{- partial "poppy-elements/buttons" (dict "design" $design "buttons" $content.buttons ) -}}
      </div>
    </div>
    {{- with $content.image -}}
      <div class= "{{$design.rounded}} {{$design.border}}" >
          {{- $class := printf "sm:%s sm:%s w-full lg:h-full sm:rounded-l-none" $design.rounded $design.shadow -}}
          {{- partial "poppy-elements/image" (dict "resource_page" $content.fg_resource_page "name" . "class" $class ) -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}
