{{/*
    Shortcode for displaying SVG images with automatic columns, alignment, and sizing.
    SVGs are embedded directly for full CSS control.

    Usage (all parameters are named):
    {{< svgimage image="roadmap_stages.svg" align="center" width="800px" >}}
    {{< svgimage image="icon-left.svg" image2="icon-right.svg" cols=2 width="50%" align="left" >}}

    @param {string} image - The primary SVG image filename (e.g., "my-icon.svg"). Required.
    @param {string} [image2, image3, ...] - Additional SVG image filenames for columns.
    @param {string} [width="100%"] - The width of the overall SVG grid (e.g., "50%", "300px").
    @param {string} [align="center"] - Alignment of the SVG grid (e.g., "left", "center", "right").
    @param {int} [cols] - Number of columns (1-6). If not provided, it auto-detects based on images count (max 3).
*/}}

{{- $page := .Page -}}
{{- $images := slice -}}
{{- $grid_width := "100%" -}}
{{- $align := "center" -}}
{{- $numberOfCols := 0 -}} {{/* Will be determined later */}}
{{- $colClassesMap := dict 1 "svg-oneCol" 2 "svg-twoCols" 3 "svg-threeCols" 4 "svg-fourCols" 5 "svg-sixCols" 6 "svg-sixCols" -}}
{{- $colClass := "svg-oneCol" -}} {{/* Default if no specific col count or images */}}


{{- /* Parse named parameters */}}
{{- if .IsNamedParams -}}
    {{- $grid_width = or (.Get "width") $grid_width -}}
    {{- $align = or (.Get "align") $align -}}
    {{- $requestedCols := .Get "cols" -}}
    {{- if $requestedCols -}}
        {{- $numberOfCols = int $requestedCols -}}
    {{- end -}}

    {{- /* Collect image filenames from named parameters like image="file.svg", image2="file2.svg" */}}
    {{- range $key, $value := .Params -}}
        {{- if and (strings.HasPrefix $key "image") (not (eq $key "images")) (eq (printf "%T" $value) "string") -}}
            {{- $images = $images | append $value -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- errorf "The %q shortcode now requires named parameters for width, align, and image filenames (e.g., {{< svgimage image=\"my.svg\" width=\"50%\" align=\"center\" >}}). Found positional parameters. See %s" .Name .Position -}}
{{- end -}}

{{- /* Determine column class based on number of images or 'cols' parameter */}}
{{- if eq $numberOfCols 0 -}}
    {{- if le (len $images) 3 -}}
        {{- $numberOfCols = len $images -}}
    {{- else -}}
        {{- $numberOfCols = 3 -}} {{/* Default to 3 columns if more than 3 images and no 'cols' specified */}}
    {{- end -}}
{{- end -}}
{{- if ge $numberOfCols 1 -}}
    {{- $colClass = index $colClassesMap $numberOfCols -}}
{{- end -}}

{{- /* Determine wrapper classes based on alignment */}}
{{- $wrapperClasses := (slice "svg-image-wrapper") }}
{{- if eq $align "left" }}
  {{- $wrapperClasses = $wrapperClasses | append "image-align-left" }}
{{- else if eq $align "right" }}
  {{- $wrapperClasses = $wrapperClasses | append "image-align-right" }}
{{- else }} {{/* Default to center */}}
  {{- $wrapperClasses = $wrapperClasses | append "image-align-center" }}
{{- end }}

{{- /* Main wrapper div for alignment and overall width */}}
<div class="{{ delimit $wrapperClasses " " }}" style="width: {{ $grid_width }};">
    {{- /* Inner grid container for column layout */}}
    <div class="svg-image-grid mt-4"> {{/* mt-4 might be from your theme for top margin */}}
        {{- range $imageName := $images -}}
            {{- $image_path := "" -}}
            {{- $resource_page := $page -}}

            {{- if or (eq $page.Kind "taxonomy") (eq $page.Kind "term") -}}
                {{- $resource_page = $page.Page -}}
            {{- else if or (eq $page.Parent.Type "widget_page") -}}
                {{- $resource_page = $page.Parent -}}
            {{- else -}}
                {{- $resource_page = $page.Page -}}
            {{- end -}}

            {{- /* Find the SVG resource by name */}}
            {{- $svgResource := ($resource_page.Resources.ByType "image").GetMatch (printf "*%s*" $imageName) -}}

            {{- with $svgResource -}}
                {{- /* This div gets the column span class */}}
                <div class="{{ $colClass }} svg-image-container">
                    {{- readFile .Permalink | safeHTML -}} {{/* Reads the SVG content and embeds directly */}}
                </div>
            {{- else -}}
                {{- errorf "SVG Image '%s' not found for shortcode in page '%s'. Ensure it's in a page bundle or static folder." $imageName $page.Permalink -}}
            {{- end -}}
        {{- end -}}
    </div>
</div>



<!-- {{/* for automatical columns, apply like this <svgimage img1 img2 img3> .You can add an infinite amount of images */}}
{{/* If you want to determine columns yourself, add an integer between 1 6 somewhere in the shortcode, e.g. for two columns <image 2 img1 img2 img3 img4> */}}


{{ $page := .Page }}
{{ $images := slice }}
{{ $class := "" }}
{{ $numberOfCols := 1 }}
{{ $cols := slice "oneCol" "twoCols" "threeCols" "fourCols" "fourCols" "sixCols" "sixCols"}}

{{ range $index, $value := .Params }}
      {{if eq (printf "%T" $value) "string" }}
          {{ $images = $images | append $value }}
      {{ end }}
      {{if eq (printf "%T" $value) "int" }}
          {{ $numberOfCols = $value }}
          {{ $class = index $cols (sub $numberOfCols 1) }}
      {{ end }}
{{ end }}

{{ if eq $class "" }}
  {{ if le (len $images) 3 }}
    {{ $numberOfCols = len $images }}
    {{ $class = index $cols (sub $numberOfCols 1) }}
  {{ else }}
    {{ $numberOfCols = 3 }}
    {{ $class = "threeCols" }}
  {{ end }}
{{ end }}

<style>
    .grid {
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      justify-items: stretch;
      justify-content: stretch;
      grid-gap: 10px;
      grid-template-columns: repeat(12, 1fr);
    }

    .oneCol, .twoCols, .threeCols {
      grid-column: span 12;
    }

    .fourCols, .sixCols {
      grid-column: span 6;
    }


      @media (min-width: 768px) {
        .twoCols, .threeCols {
          grid-column: span 6;
        }

        .fourCols, .sixCols {
          grid-column: span 3;
        }
      }

      @media (min-width: 992px) {
        .twoCols {
          grid-column: span 6;
        }
        .threeCols {
          grid-column: span 4;
        }
        .sixCols {
          grid-column: span 2;
        }
      }

    .pogoimage {
      width: 100%;
    }

</style>


<div class="grid">

{{ range $images}}
    {{ $image_name := .}}
    {{ $image_path := "" }}
    {{ $resource_page := "" }}

      {{ if or (eq $page.Kind "taxonomy") (eq $page.Kind "term")}}
        {{ $image_path = printf "*%s*" $image_name}}
        {{ $resource_page = $page.Page }}
      {{  else if or (eq $page.Parent.Type "widget_page")}}
        {{ $image_path = printf "%s/%s/*%s*" (path.Base (path.Split $page.Path).Dir) "/images" $image_name}}
        {{ $resource_page = $page.Parent }}
      {{ else }}
        {{ $image_path = printf "%s/*%s*" "images" $image_name }}
        {{ $resource_page = $page.Page }}
      {{ end }}

    {{ $image := ($resource_page.Resources.ByType "image").GetMatch $image_path}}

    <div class= "{{$class}}">
        {{ with $image }}
          {{ readFile (printf "%s%s" $page.Dir $image ) | safeHTML }}
        {{end}}

    </div>
{{ end }}
</div>
 -->
