{{- /*
Renders an embedded YouTube video with extended size and alignment control.

@param {bool} [allowFullScreen=true] Whether the iframe element can activate full screen mode.
@param {bool} [autoplay=false] Whether to automatically play the video. Forces mute to be true.
@param {string} [class] The class attribute of the wrapping div element. When specified, removes the style attributes from the iframe element and its wrapping div element.
@param {bool} [controls=true] Whether to display the video controls.
@param {int} [end] The time, measured in seconds from the start of the video, when the player should stop playing the video.
@param {string} [id] The video id. Optional if the id is the first and only positional argument.
@param {string} [loading=eager] The loading attribute of the iframe element.
@param {bool} [loop=false] Whether to indefinitely repeat the video. Ignores the start and end arguments after the first play.
@param {bool} [mute=false] Whether to mute the video. Always true when autoplay is true.
@param {int} [start] The time, measured in seconds from the start of the video, when the player should start playing the video.
@param {string} [title] The title attribute of the iframe element. Defaults to "YouTube video".
@param {string} [width] The width of the video. E.g., "560", "100%".
@param {string} [height] The height of the video. E.g., "315", "auto".
@param {string} [align] The alignment of the video: "left", "center", "right".

@returns {template.HTML}

@reference https://developers.google.com/youtube/player_parameters

@example {{< youtube 0RKpf3rK57I >}}
@example {{< youtube id=0RKpf3rK57I loading=lazy start=30 >}}
@example {{< youtube id="0RKpf3rK57I" width="800" height="450" align="center" >}}
@example {{< youtube id="0RKpf3rK57I" width="100%" align="left" >}}
*/}}

{{- $pc := .Page.Site.Config.Privacy.YouTube }}
{{- $remoteErrID := "err-youtube-remote" }}
{{- $referrerpolicy := "strict-origin-when-cross-origin" }} {{/* Moved this definition here */}}

{{- if not $pc.Disable }}
  {{- with $id := or (.Get "id") (.Get 0) }}

    {{- /* Set defaults. */}}
    {{- $allowFullScreen := true }}
    {{- $autoplay := 0 }}
    {{- $class := "" }}
    {{- $controls := 1 }}
    {{- $end := 0 }}
    {{- $loading := "eager" }}
    {{- $loop := 0 }}
    {{- $mute := 0 }}
    {{- $start := 0 }}
    {{- $title := "YouTube video" }}
    {{- $iframeAllowList := "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" }}
    {{- $width := "" }}
    {{- $height := "" }}
    {{- <span class="math-inline">align \:\= "" \}\}
