{{- /* youtube.html - Minimal iframe for debugging */ -}}
{{- $id := .Get "id" }}
{{- if not $id }}
  {{- errorf "youtube shortcode: missing id parameter for %q" .Inner }}
{{- end }}
{{- $title := .Get "title" | default (printf "YouTube video: %s" $id) }}

{{- /* Simplest possible YouTube URL */ -}}
{{- $youtubeURL := printf "https://www.youtube-nocookie.com/embed/%s" $id }}

<div class="force-16-9-ratio youtube-video-center">
  <iframe src="{{ $youtubeURL }}" title="{{ $title }}">
  </iframe>
</div>
